body {
  background: #fff;
  color: #323237;
}

html, body {
  font-family: "Heiti TC", \5FAE\8EDF\6B63\9ED1\9AD4, \65B0\7D30\660E\9AD4, "Helvetica Neue", Helvetica, Arial, Serif, sans-serif;
}

.wrap {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.wrap:after {
  content: " ";
  display: block;
  clear: both;
}

button {
  outline: none;
}

#main-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar.navbar-default-weile {
  height: 52px;
  background-color: transparent;
}
@media (min-width: 767px) {
  .navbar.navbar-default-weile {
    height: 80px;
  }
}

@media (min-width: 767px) {
  .navbar-header {
    padding: 30px 0;
  }
}

.navbar-brand {
  vertical-align: text-bottom;
  padding: 5px;
  display: inline-block;
}
.navbar-brand img {
  height: 42px;
}
@media (min-width: 767px) {
  .navbar-brand {
    padding: 10px;
    display: inline-block;
  }
  .navbar-brand img {
    height: 60px;
  }
}

.main-links {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: text-bottom;
}
@media (min-width: 767px) {
  .main-links {
    display: inline-block;
  }
  .main-links > li {
    position: relative;
  }
  .main-links > li:before {
    content: "";
    width: 2px;
    height: 20px;
    background-color: #323237;
    position: absolute;
    top: 3px;
    right: -12px;
  }
  .main-links > li:last-child:before {
    background-color: transparent;
  }
}
.main-links > li {
  display: inline-block;
  margin: 20px 10px;
}
.main-links > li > a {
  display: inline-block;
  font-size: 20px;
  padding: 20px 0 10px 0;
  border-radius: 20px;
  text-decoration: none;
  color: #f1f1f1;
}
@media (min-width: 767px) {
  .main-links > li > a {
    color: #323237;
    padding: 0 14px 30px 14px;
  }
}

.navbar-toggle.hamburger {
  position: absolute;
  top: 0;
  right: 0;
}
@media (min-width: 767px) {
  .navbar-toggle.hamburger {
    display: none;
  }
}

/* Background images are set within the HTML using inline CSS, not here */
.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
}
.fill.responsive {
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  -o-background-size: 100% auto;
}
@media (min-width: 767px) {
  .fill.responsive {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
  z-index: 2;
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

.carousel {
  min-height: 500px;
}

.carousel-inner {
  height: 100%;
  min-height: 500px;
}

a.know-more {
  display: block;
  width: 199px;
  height: 94px;
  margin: 0 auto;
}

.carousel-inner .item:nth-child(n+2) .carousel-caption {
  top: 5%;
}
.carousel-inner .item:nth-child(n+2) .carousel-caption h3 {
  font-size: 16px;
  font-weight: 300;
}
@media (min-width: 767px) {
  .carousel-inner .item:nth-child(n+2) .carousel-caption {
    top: 15%;
    text-align: left;
    left: 15%;
  }
  .carousel-inner .item:nth-child(n+2) .carousel-caption h2 {
    font-size: 20px;
  }
  .carousel-inner .item:nth-child(n+2) .carousel-caption h3 {
    font-size: 14px;
    font-weight: 300;
  }
}

.carousel-indicators {
  /* 198 */
}
.carousel-indicators li.active {
  background-color: #505050;
  margin: 0 5px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}
.carousel-indicators li {
  background-color: #c6c5c5;
  margin: 0 5px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  width: 12px;
  height: 12px;
}

.first-level {
  position: relative;
}
.first-level:hover .dropdown {
  opacity: 1;
}
.first-level:hover .dropdown:hover {
  opacity: 1;
}

.dropdown {
  padding-left: 0;
}
.dropdown a {
  color: #f1f1f1;
  opacity: 0.8;
}

@media (min-width: 767px) {
  .dropdown {
    position: absolute;
    opacity: 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.17);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    top: 50px;
    width: 130px;
    padding: 0;
    padding: 10px 0;
  }
  .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 50%;
    margin-right: -6px;
    border-width: 0 12px 12px 12px;
    border-style: solid;
    border-color: #fff transparent;
  }
  .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 50%;
    margin-right: -7px;
    border-width: 0 14px 14px 14px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1) transparent;
  }
  .dropdown .list {
    padding: 10px 0;
  }
  .dropdown .list a {
    font-size: 16px;
    color: #8aa8bd;
    text-decoration: none;
  }
}
.cbp-spmenu {
  background: #036eb8;
  position: fixed;
}

.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.cbp-spmenu-vertical li {
  display: block;
  font-size: 1em;
  text-align: center;
}

.cbp-spmenu-right {
  right: -240px;
}
.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

@media (min-width: 767px) {
  .cbp-spmenu {
    background: transparent;
    position: static;
  }

  .cbp-spmenu-vertical li {
    display: inline-block;
    font-size: 1em;
  }

  .cbp-spmenu-vertical {
    width: auto;
    height: auto;
    top: 0;
    z-index: 1000;
  }

  .cbp-spmenu-vertical a {
    border-bottom: 0;
    padding: 0;
  }

  .cbp-spmenu-right {
    right: auto;
  }
}
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toleft {
  left: -240px;
}

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.internal-wrapper {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative;
}
@media (min-width: 767px) {
  .internal-wrapper {
    width: 83.05085%;
    float: left;
    margin-left: 8.47458%;
    margin-right: -100%;
  }
}
.internal-wrapper img {
  width: 100%;
}

.hotspot {
  width: 20px;
  height: 20px;
  background-color: #D29A4E;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0.8;
  z-index: 1;
}
.hotspot:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #D29A4E;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0;
  transition: 0.2s all;
}
.hotspot:hover {
  cursor: pointer;
  opacity: 1;
}
.hotspot:hover:after {
  width: 25px;
  height: 25px;
  opacity: 1;
}

#hotspot_1 {
  top: 65%;
  left: 57%;
}

#hotspot_2 {
  top: 30%;
  left: 55%;
}

#hotspot_3 {
  top: 46%;
  left: 25%;
}

#hotspot_4 {
  top: 46%;
  left: 80%;
}

#outer-theta {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
  position: absolute;
  background-color: #ccc;
}
@media (min-width: 767px) {
  #outer-theta {
    width: 768px;
    height: 576px;
    top: 50%;
    left: 50%;
    margin-left: -384px;
    margin-top: -288px;
  }
}
#outer-theta.show {
  visibility: visible;
}

#theta-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 1;
}

#lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #d35400;
  top: 0;
  left: 0;
  z-index: 1;
}
#lightbox .spinner {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
}
#lightbox .lightbox-toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
#lightbox .hamburger-inner, #lightbox .hamburger-inner::before, #lightbox .hamburger-inner::after {
  background-color: #fff;
}

#about-top {
  margin-top: 50px;
  overflow: hidden;
  background-color: #F5F5F5;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 767px) {
  #about-top {
    margin-top: 120px;
  }
}
#about-top .left {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-top: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}
@media (min-width: 767px) {
  #about-top .left {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    padding-top: 50%;
  }
}
#about-top .left:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 800px 0 0;
  z-index: 1;
  border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent;
  position: absolute;
  bottom: -60px;
  left: 0;
}
@media (min-width: 767px) {
  #about-top .left:before {
    border-width: 700px 0 0 100px;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.2);
    bottom: 0;
    right: -100px;
    left: auto;
  }
}
#about-top .left .content {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 10%;
  font-size: 13px;
  line-height: 16px;
}
@media (min-width: 480px) {
  #about-top .left .content {
    top: 5%;
    font-size: 16px;
    line-height: 20px;
    width: 80%;
  }
}
@media (min-width: 600px) {
  #about-top .left .content {
    top: 10%;
    font-size: 18px;
    line-height: 24px;
    width: 80%;
  }
}
@media (min-width: 767px) {
  #about-top .left .content {
    top: 5%;
    font-size: 14px;
    line-height: 18px;
    width: 90%;
  }
}
@media (min-width: 1200px) {
  #about-top .left .content {
    top: 10%;
    font-size: 18px;
    line-height: 26px;
    width: 80%;
  }
}
@media (min-width: 1500px) {
  #about-top .left .content {
    top: 10%;
    font-size: 24px;
    line-height: 32px;
    width: 80%;
  }
}
#about-top .left .content .logo-text {
  display: inline-block;
  height: 20px;
  padding: 0 5px;
}
#about-top .left .content .logo-text img {
  height: 100%;
}
#about-top .left .content .logo-text.small {
  height: 12px;
}
#about-top .right {
  position: relative;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-top: 100%;
  background-color: #F3F5F5;
  background-image: url("../img/about/right-bg.png");
  background-size: cover;
}
@media (min-width: 767px) {
  #about-top .right {
    width: 49.15254%;
    float: right;
    margin-right: 0;
    padding-top: 50%;
  }
}

#footer-sitemap {
  background-color: #2E2E2F;
  padding: 30px 0;
}
#footer-sitemap ul {
  margin: 0;
  padding: 0;
}
#footer-sitemap .sitemap-link {
  list-style: none;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 480px) {
  #footer-sitemap .sitemap-link {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  #footer-sitemap .sitemap-link:nth-child(2n) {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 767px) {
  #footer-sitemap .sitemap-link {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }
  #footer-sitemap .sitemap-link:nth-child(2n) {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }
  #footer-sitemap .sitemap-link:nth-child(6n) {
    width: 15.25424%;
    float: right;
    margin-right: 0;
  }
}
#footer-sitemap a {
  color: #B8BCBF;
  font-size: 18px;
  text-decoration: none;
}
#footer-sitemap a:hover {
  color: #f1f1f1;
}

#main-footer {
  background-color: #575758;
  padding-top: 40px;
  color: #b9bcbf;
}
#main-footer a.contact-us {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  background-color: #e1ff32;
  width: 150px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 24px;
  color: #323237;
  text-decoration: none;
}
#main-footer a.contact-us:hover {
  background-color: #d9fe00;
  text-decoration: none;
}
#main-footer .social-wrapper {
  padding: 30px 0;
}
#main-footer .social-wrapper ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
#main-footer .social-wrapper li {
  list-style: none;
}
#main-footer .social-wrapper .social-link-wrapper {
  display: inline-block;
  margin: 0 10px;
}
#main-footer .social-wrapper a.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#main-footer .social-wrapper a.social-link:hover {
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
#main-footer .social-wrapper a.social-link img {
  width: 100%;
  height: 100%;
}
#main-footer .copyright {
  padding: 20px 20px;
  text-align: center;
}

.announce {
  max-width: 700px;
  margin: 50px auto 0 auto;
  padding: 0 20px;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 13px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.6;
}

.hamburger-box {
  width: 30px;
  height: 21px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #505050;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -9px;
}
.hamburger-inner::after {
  bottom: -9px;
}

/*
 * Arrow
 */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-6px, 0, 0) rotate(-45deg) scale(0.7, 1);
}
.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-6px, 0, 0) rotate(45deg) scale(0.7, 1);
}

/*
 * Arrow Right
 */
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(6px, 0, 0) rotate(45deg) scale(0.7, 1);
}
.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(6px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

/*
 * Arrow Alt
 */
.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(-6px, -7.5px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(-6px, 7.5px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*
 * Arrow Alt Right
 */
.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(6px, -7.5px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(6px, 7.5px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*
 * Boring
 */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none;
}
.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg);
}
.hamburger--boring.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}
.hamburger--boring.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

/*
 * Collapse
 */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.15s;
  transition-delay: 0.15s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -18px;
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -9px, 0) rotate(-45deg);
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Collapse Reverse
 */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.15s;
  transition-delay: 0.15s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse-r .hamburger-inner::after {
  top: -18px;
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse-r .hamburger-inner::before {
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -9px, 0) rotate(45deg);
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
}
.hamburger--collapse-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Elastic
 */
.hamburger--elastic .hamburger-inner {
  top: 0;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic .hamburger-inner::before {
  top: 9px;
  transition: opacity 0.15s 0.4s ease;
}
.hamburger--elastic .hamburger-inner::after {
  top: 18px;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 9px, 0) rotate(135deg);
  transition-delay: 0.1s;
}
.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}
.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -18px, 0) rotate(-270deg);
  transition-delay: 0.1s;
}

/*
 * Elastic Reverse
 */
.hamburger--elastic-r .hamburger-inner {
  top: 0;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic-r .hamburger-inner::before {
  top: 9px;
  transition: opacity 0.15s 0.4s ease;
}
.hamburger--elastic-r .hamburger-inner::after {
  top: 18px;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 9px, 0) rotate(-135deg);
  transition-delay: 0.1s;
}
.hamburger--elastic-r.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}
.hamburger--elastic-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -18px, 0) rotate(270deg);
  transition-delay: 0.1s;
}

/*
 * Emphatic
 */
.hamburger--emphatic {
  overflow: hidden;
}
.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.2s 0.25s ease-in;
}
.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, left 0.2s 0.25s ease-in;
}
.hamburger--emphatic .hamburger-inner::after {
  top: 9px;
  right: 0;
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, right 0.2s 0.25s ease-in;
}
.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent;
}
.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -60px;
  top: -60px;
  transform: translate3d(60px, 60px, 0) rotate(45deg);
  transition: left 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -60px;
  top: -60px;
  transform: translate3d(-60px, 60px, 0) rotate(-45deg);
  transition: right 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
 * Emphatic Reverse
 */
.hamburger--emphatic-r {
  overflow: hidden;
}
.hamburger--emphatic-r .hamburger-inner {
  transition: background-color 0.2s 0.25s ease-in;
}
.hamburger--emphatic-r .hamburger-inner::before {
  left: 0;
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, left 0.2s 0.25s ease-in;
}
.hamburger--emphatic-r .hamburger-inner::after {
  top: 9px;
  right: 0;
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, right 0.2s 0.25s ease-in;
}
.hamburger--emphatic-r.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent;
}
.hamburger--emphatic-r.is-active .hamburger-inner::before {
  left: -60px;
  top: 60px;
  transform: translate3d(60px, -60px, 0) rotate(-45deg);
  transition: left 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hamburger--emphatic-r.is-active .hamburger-inner::after {
  right: -60px;
  top: 60px;
  transform: translate3d(-60px, -60px, 0) rotate(45deg);
  transition: right 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
 * Slider
 */
.hamburger--slider .hamburger-inner {
  top: 0;
}
.hamburger--slider .hamburger-inner::before {
  top: 9px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}
.hamburger--slider .hamburger-inner::after {
  top: 18px;
}
.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 9px, 0) rotate(45deg);
}
.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-4.28571px, -6px, 0);
  opacity: 0;
}
.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -18px, 0) rotate(-90deg);
}

/*
 * Slider Reverse
 */
.hamburger--slider-r .hamburger-inner {
  top: 0;
}
.hamburger--slider-r .hamburger-inner::before {
  top: 9px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}
.hamburger--slider-r .hamburger-inner::after {
  top: 18px;
}
.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 9px, 0) rotate(-45deg);
}
.hamburger--slider-r.is-active .hamburger-inner::before {
  transform: rotate(45deg) translate3d(4.28571px, -6px, 0);
  opacity: 0;
}
.hamburger--slider-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -18px, 0) rotate(90deg);
}

/*
 * Spin
 */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Spin Reverse
 */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin-r .hamburger-inner::before {
  transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin-r .hamburger-inner::after {
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
}
.hamburger--spin-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Squeeze
 */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.1s 0.14s ease, opacity 0.1s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease, opacity 0.1s 0.14s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Vortex
 */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}
.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity;
}
.hamburger--vortex .hamburger-inner::after {
  transition-property: bottom, transform;
}
.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
  transition-delay: 0s;
}
.hamburger--vortex.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}
.hamburger--vortex.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
}

/*
 * Vortex Reverse
 */
.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex-r .hamburger-inner::before, .hamburger--vortex-r .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}
.hamburger--vortex-r .hamburger-inner::before {
  transition-property: top, opacity;
}
.hamburger--vortex-r .hamburger-inner::after {
  transition-property: bottom, transform;
}
.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex-r.is-active .hamburger-inner::before, .hamburger--vortex-r.is-active .hamburger-inner::after {
  transition-delay: 0s;
}
.hamburger--vortex-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}
.hamburger--vortex-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

.spinner {
  width: 60px;
  height: 60px;
  background-color: #333;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.pageload-overlay {
  visibility: hidden;
}
.pageload-overlay.show {
  visibility: visible;
}
.pageload-overlay.hide {
  visibility: hidden;
}
