$color: #323237;

body {
  background: #fff;
  color: $color;
}

html, body {
  font-family: "Heiti TC", \5FAE\8EDF\6B63\9ED1\9AD4, \65B0\7D30\660E\9AD4, "Helvetica Neue", Helvetica, Arial, Serif, sans-serif;
}

$susy: (
  columns: 12,
  gutters: 1/4,      
  column-width: false,
  math: fluid,      
  output: float,
  gutter-position: after,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  )
);

.wrap {
  @include container(1280px);
}

button {
  outline: none;
}

$pad: 767px;
$phone: 480px;









