<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>唯樂露營車 - 定點式露營車 享樂系列</title>
    <meta name="description" content="唯樂露營車，露營車專賣、營區規劃、露營車出租">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>



    <meta property="og:url" content="<%= url %>">
    <meta property="og:type" content="website">
    <meta property="fb:admins" content="<%= fbAdmin %>">
    <meta property="fb:app_id" content="<%= appId %>">
    <meta property="og:title" content="唯樂露營車">
    <meta property="og:description" content="唯樂露營車，露營車專賣、營區規劃、露營車出租">
    <meta property="og:image" content="http://weile-tech.com/img/og/index.jpg">
  </head>
  <body class="cbp-spmenu-push" data-spy="scroll" data-target="#navbar-list" data-offset="0">
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    
    <header id="main-header">
      <div class="navbar navbar-default-weile" role="navigation">
        <div class="wrap">
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
              <img src="img/logo.png" class="brand" alt="Winner">
            </a>

            <ul class="main-links cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right">
              <li class="first-level">
                <a href="index.html">
                  <span>定點式</span>
                </a>
                <ul class="dropdown">
                  <li class="list">
                    <a href="ss6.html">SS6 智能系列</a>
                  </li>
                  <li class="list">
                    <a href="hs6.html">HS6 享樂系列</a>
                  </li>
                </ul>
              </li>
              <li class="first-level">
                <a href="motorhome.html"><span>自走式</span></a>
              </li>
              <li class="first-level">
                <a href="trailer.html"><span>拖掛式</span></a>
              </li>
              <li class="first-level">
                <a href="winner.html"><span>悠遊唯樂</span></a>
              </li>
            </ul>

            <button type="button" class="navbar-toggle hamburger hamburger--collapse" data-target=".navbar-main">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>

          </div>
        </div>
      </div>
    </header>

    <div id="motorhomes-wrapper">
      <div id="motorhomes-top" class="fill">
        <div id="ss6-camper">
          <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/hs6/hs6-camper.png" alt="享樂系列露營車">
        </div>
      </div>
      <div class="wrap"></div>
      <div class="fake"></div>
      <nav id="navbar-list" class="motorhomes-nav">
        <ul class="nav">
          <li>
            <a class="scroll-link" href="#looking">
              <span class="l-text">外 觀</span>
              <br>
              <span class="s-text">Looking</span>
            </a>
          </li>
          <li>
            <a class="scroll-link" href="#safety">
              <span class="l-text">安 全</span>
              <br>
              <span class="s-text">Safety</span>
            </a>
          </li>
          <li>
            <a class="scroll-link" href="#equipment">
              <span class="l-text">配 備</span>
              <br>
              <span class="s-text">Equipment</span>
            </a>
          </li>
          <li>
            <a class="scroll-link" href="#question">
              <span class="l-text">優 勢</span>
              <br>
              <span class="s-text">Advantage</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div id="looking" class="hs6">
      <div class="bg-container"></div>
      <div id="looking-solgan">
        <h2>人之所以愛旅行，不是為了抵達目的地，<br>而是為了享受旅途中的種種樂趣。</h2>
        <h3>The reason why people love to travel, not because of reaching the distination, <br>but enjoying the all kinds of fun in the journey.
        </h3>
      </div>
    </div>
    <div id="camper-color">
      <div class="bg-container">
        <div class="color-container">
          <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/hs6/color/nake-hs6.png" alt="裸車">
        </div>
        <div class="size-container">
          <ul>
            <li>全長：7,198mm（含前方三角架）</li>
            <li>車寬：2,580mm</li>
            <li>車高：2,296mm</li>
            <li>重量：本款重量超過 750kg</li>
          </ul>
        </div>
      </div>
      
      <div class="sidebar">
        <ul>
          <li>
            <div class="text-wrap">
              <h2>烤漆版</h2>
              <h3>Body Paint</h3> 
            </div>
            <div class="paint-wrap">
              <a href="" class="paint" data-img="img/hs6/color/hs6-paint1.png">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/ss6/color/paint1.png" alt="烤漆1">
              </a>
              <a href="" class="paint" data-img="img/hs6/color/hs6-paint2.png">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/ss6/color/paint2.png" alt="烤漆2">
              </a>
              <a href="" class="paint" data-img="img/hs6/color/hs6-paint3.png">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/ss6/color/paint3.png" alt="烤漆3">
              </a>
              <a href="" class="paint" data-img="img/hs6/color/hs6-paint4.png">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/ss6/color/paint4.png" alt="烤漆4">
              </a>
              <a href="" class="paint" data-img="img/hs6/color/hs6-paint5.png">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/ss6/color/paint5.png" alt="烤漆5">
              </a>
              <a href="" class="paint" data-img="img/hs6/color/hs6-paint6.png">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/ss6/color/paint6.png" alt="烤漆6">
              </a>
              <a href="" class="paint" data-img="img/hs6/color/hs6-paint7.png">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/ss6/color/paint7.png" alt="烤漆7">
              </a>
              <a href="" class="paint" data-img="img/hs6/color/hs6-paint8.png">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/ss6/color/paint8.png" alt="烤漆8">
              </a>
              <a href="" class="paint" data-img="img/hs6/color/hs6-paint9.png">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/ss6/color/paint9.png" alt="烤漆9">
              </a>
              <a href="" class="paint" data-img="img/hs6/color/hs6-paint10.png">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/ss6/color/paint10.png" alt="烤漆10">
              </a>
            </div>
          </li>
          <li>
            <div class="text-wrap">
              <h2>貼膜版</h2>
              <h3>Sticker Coating</h3>
            </div>
            <div class="coating-wrap">
              <a href="" class="coating" data-img="img/hs6/color/hs6-coating1.png">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/ss6/color/coating1.png" alt="貼膜1">
              </a>
              <a href="" class="coating" data-img="img/hs6/color/hs6-coating2.png">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/ss6/color/coating2.png" alt="貼膜2">
              </a>
              <a href="" class="coating" data-img="img/hs6/color/hs6-coating3.png">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/ss6/color/coating3.png" alt="貼膜3">
              </a>
              <a href="" class="coating" data-img="img/hs6/color/hs6-coating4.png">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/ss6/color/coating4.png" alt="貼膜4">
              </a>
              <a href="" class="coating" data-img="img/hs6/color/hs6-coating5.png">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/ss6/color/coating5.png" alt="貼膜5">
              </a>
              <a href="" class="coating" data-img="img/hs6/color/hs6-coating6.png">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/ss6/color/coating6.png" alt="貼膜6">
              </a>
              <a href="" class="coating" data-img="img/hs6/color/hs6-coating7.png">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/ss6/color/coating7.png" alt="貼膜7">
              </a>
              <a href="" class="coating" data-img="img/hs6/color/hs6-coating8.png">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/ss6/color/coating8.png" alt="貼膜8">
              </a>
            </div>
          </li>
          <li>
            <div class="text-wrap">
              <h2>彩繪版</h2>
              <h3>Stylish Paint</h3>
            </div>
            <div class="stylish-wrap">
              <a href="" class="stylish" data-img="img/hs6/color/hs6-stylish1.png">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/ss6/color/stylish1.png" alt="彩繪1">
              </a>
              <a href="" class="stylish" data-img="img/hs6/color/hs6-stylish2.png">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/ss6/color/stylish2.png" alt="彩繪2">
              </a>
              <a href="" class="stylish" data-img="img/hs6/color/hs6-stylish3.png">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/ss6/color/stylish3.png" alt="彩繪3">
              </a>
              <a href="" class="stylish" data-img="img/hs6/color/hs6-stylish4.png">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/ss6/color/stylish4.png" alt="彩繪4">
              </a>
            </div>
            
          </li>
        </ul>
      </div>
    </div>

    <div id="safety" class="hs6">
      <div class="bg-container">
        <div class="left-slide">
          <img src="img/hs6/safety/safety1.jpg" alt="安全">
          <div class="text-wrapper">
            <p>It has perfect large space outlook design and unlimited living space to fulfill your journey, loading home-like comfort and satisfaction.</p>
            <h3>完美的大空間外觀設計，無受限的居住空間 填滿您的所有旅程，裝載了像家一樣的舒適與滿足感。</h3>
          </div>
        </div>
        <div class="right-side">
          <div class="first-col">
            <div class="safety-list">
              <div class="ratio-wrapper">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/hs6/safety/safety2.jpg" alt="三角拖架">
              </div>
            </div>
            <div class="safety-list">
              <div class="ratio-wrapper">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/hs6/safety/safety3.jpg" alt="車尾燈">
              </div>
            </div>
            <div class="safety-list">
              <div class="ratio-wrapper">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/hs6/safety/safety4.jpg" alt="車輪">
              </div>
            </div>
          </div>
          <div class="sec-col">
            <div class="safety-list">
              <div class="ratio-wrapper">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/hs6/safety/safety5.jpg" alt="駐車輪">
              </div>
            </div>
            <div class="safety-list">
              <div class="ratio-wrapper">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/hs6/safety/safety6.jpg" alt="三角拖架">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="equipment" class="hs6">
      <div class="bg-container"></div>
      <nav class="menu">
        <ul>
          <li>
            <a class="equipment-link active" href="#" data-id="#equip1">
              <span class="l-text">外觀配備</span>
              <br>
              <span class="s-text">External features</span>
              <br>
              <img class="camper" src="img/ss6/equipment/external.png" alt="外觀配備">
            </a>
          </li>
          <li>
            <a class="equipment-link" href="#" data-id="#equip2">
              <span class="l-text">內裝配備</span>
              <br>
              <span class="s-text">With internal</span>
              <br>
              <img class="tv" src="img/ss6/equipment/internal.png" alt="內裝配備">
            </a>
          </li>
        </ul>
      </nav>
      <div class="equipment-wrapper active" id="equip1">
        <div class="upper-wrapper">
          <div class="equip-list">
            <div class="ratio-wrapper">
              <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/hs6/equipment/e1.jpg" alt="">
            </div>
          </div>
          <div class="equip-list">
            <div class="ratio-wrapper">
              <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/hs6/equipment/e2.jpg" alt="">
            </div>
          </div>
          <div class="equip-list">
            <div class="ratio-wrapper">
              <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/hs6/equipment/e3.jpg" alt="">
            </div>
          </div>
          <div class="equip-list">
            <div class="ratio-wrapper">
              <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/hs6/equipment/e4.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="lower-wrapper">
          <div class="equip-list">
            <div class="ratio-wrapper">
              <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/hs6/equipment/e5.jpg" alt="">
            </div>
          </div>
          <div class="equip-list">
            <div class="ratio-wrapper">
              <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/hs6/equipment/e6.jpg" alt="">
            </div>
          </div>
          <div class="equip-list">
            <div class="ratio-wrapper">
              <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/hs6/equipment/e7.jpg" alt="">
            </div>
          </div>
          <div class="equip-list">
            <div class="ratio-wrapper">
              <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/hs6/equipment/e8.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="equipment-wrapper" id="equip2">
        <div class="map-wrapper">
          <img class="map" src="img/hs6/equipment/hs6.png" alt="享樂系列平面圖">
          <button class="hs6-spot1 spot">
            <img src="img/ss6/safety/spot1.png" alt="spot">
          </button>
          <button class="hs6-spot2 spot">
            <img src="img/ss6/safety/spot1.png" alt="spot">
          </button>
          <button class="hs6-spot3 spot">
            <img src="img/ss6/safety/spot1.png" alt="spot">
          </button>
          <button class="hs6-spot4 spot">
            <img src="img/ss6/safety/spot1.png" alt="spot">
          </button>
        </div>
        <div class="model-person">
          <div class="model">
            <img src="img/hs6/equipment/hs6-model.png" alt="型式">
          </div>
          <div class="person">
            <img src="img/hs6/equipment/hs6-person.png" alt="人數">
          </div>
        </div>
        <div class="inter-equip-wrapper">
          <ul>
            <li><button class="hs6-spot1">生活空間</button></li>
            <li><button class="hs6-spot2">衛浴空間</button></li>
            <li><button class="hs6-spot3">客廳空間</button></li>
            <li><button class="hs6-spot4">寢室空間</button></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="question">
      <h1>問題</h1>
    </div>

    <div id="footer-sitemap">
      <div class="wrap">
        <ul>
          <li class="sitemap-link">
            <a href="news.html">最新消息</a>
          </li>
          <li class="sitemap-link">
            <a href="about.html">關於我們</a>
          </li>
          <li class="sitemap-link">
            <a href="wearehire.html">人才招募</a>
          </li>
          <li class="sitemap-link">
            <a href="blog.html">露營知識</a>
          </li>
          <li class="sitemap-link">
            <a href="travel.html">營區介紹</a>
          </li>
          <li class="sitemap-link">
            <a href="contact.html">聯絡我們</a>
          </li>
        </ul>
      </div>
    </div>
    <footer id="main-footer">
      <div class="contact-us-wrapper">
        <a href="contact.html" class="contact-us">聯絡我們</a>
      </div>
      <div class="social-wrapper">
        <ul>
          <li class="social-link-wrapper">
            <a target="_blank" href="https://www.facebook.com/weiletech/" class="social-link">
              <img src="img/social/f.png" alt="facebook">
            </a>
          </li>
          <li class="social-link-wrapper">
            <a target href="https://www.flickr.com/photos/weiletech/" class="social-link">
              <img src="img/social/fr.png" alt="flickr">
            </a>
          </li>
          <li class="social-link-wrapper">
            <a target="_blank" href="https://www.instagram.com/weiletech/" class="social-link">
              <img src="img/social/in.png" alt="linkdin">
            </a>
          </li>
          <li class="social-link-wrapper">
            <a href="" class="social-link">
              <img src="img/social/youtube.png" alt="youtube">
            </a>
          </li>
        </ul>
        <p class="announce">本網站所提供之圖片、數據及規格等資料僅供參考。Winner Technology Inc. 保有隨時改變露營車和其他產品之設計以及規格的權利。Winner Technology Inc. 亦保留隨時對車款及產品出售與否及其內容記載變更之權利。 任何於本網站所提及之效能數據、測試結果等，均可能因其他因素之影響而造成結果有所差異。</p>
      </div>
      <div class="copyright">
        <p>
          Copyright © 2016 Winner Technology Inc.著作權所有，並保留一切權利。
        </p>
      </div>
    </footer>



    <div class="md-overlay"></div><!-- the overlay element -->


    <script src="js/vendor/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/vendor/classie.js"></script>
    <script src="js/vendor/cbpAnimatedHeader.js"></script>
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
    <script src="js/vendor/modalEffects.js"></script>


    <script>
      $(document).ready(function() {
        $('.carousel').carousel();
        var toggle = $('.navbar-toggle.hamburger');
        toggle.on('click', function(e) {
          $(this).toggleClass('is-active');
          $('body').toggleClass('cbp-spmenu-push-toleft');
          $('.cbp-spmenu-right').toggleClass('cbp-spmenu-open');
        });

        var equipments = $('.equipment-wrapper');
        var link = $('.equipment-link');
        link.on('click', function(e) {
          e.preventDefault();
          link.removeClass('active');
          $(this).addClass('active');
          var target = $(this).data('id');
          equipments.removeClass('active');
          $(target).addClass('active');
        })

        $('a.scroll-link').on('click', function(event) {
          var $anchor = $(this);
          $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top - 90
          }, 1500, 'easeInOutExpo');
          event.preventDefault();
        });

        var bLazy = new Blazy();

        $('.grid').masonry({
          // options
          itemSelector: '.grid-item',
          columnWidth: 300
        });

        $('.hs6-spot1').on('click', function(e) {
          window.open('vr.html#hs6-1','_blank');
        });

        $('.hs6-spot2').on('click', function(e) {
          window.open('vr.html#hs6-2','_blank');
        });      
        $('.hs6-spot3').on('click', function(e) {
          window.open('vr.html#hs6-3','_blank');
        });   
        $('.hs6-spot4').on('click', function(e) {
          window.open('vr.html#hs6-4','_blank');
        });

        var colorCamper = $('.color-container img')[0];

        $('.paint').on('click', function(e) {
          e.preventDefault();
          colorCamper.src = $(this).data('img');
        });
        $('.coating').on('click', function(e) {
          e.preventDefault();
          colorCamper.src = $(this).data('img');
        });
        $('.stylish').on('click', function(e) {
          e.preventDefault();
          colorCamper.src = $(this).data('img');
        });
      });
    </script>


    <script src="js/vendor/cssParser.js"></script>
    <script src="js/lib/async.js"></script>
    <script src="js/lib/three.js"></script>
    <script src="js/lib/OrbitControls.js"></script>
    <script src="js/lib/theta-viewer.js"></script>
    <script src="js/lib/blazy.min.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-75911163-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
