#motorhome-page, #trailer-page {
  min-height: 500px;
  @include breakpoint(960px) {
    min-height: 800px;
  }
  @include breakpoint(1600px) {
    min-height: 960px;
  }
  .bg-container {
    position: relative;
    .camper-wrapper {
      position: absolute;
      width: 300px;
      right: 10px;
      bottom: 50px;
      @include breakpoint(455px) {
        width: 400px;
      }
      @include breakpoint($pad) {
        width: 500px;
      }
      @include breakpoint(1000px) {
        width: 700px;
      }
      img {
        width: 100%;
      }
    }
    .trailer-wrapper {
      width: 130%;
      position: absolute;
      bottom: 50px;
      right: -20%;
      @include breakpoint(460px) {
        width: 100%;
        right: 0;
      }
      @include breakpoint(960px) {
        width: 80%;
        bottom: 0;
        right: 0;
      }
      @include breakpoint(1600px) {
        width: 60%;
      }
      
      img {
        width: 100%;
      }
    }
  }
}

#trailer-page {
  background-position: bottom center;
}

#contact-form {
  overflow: hidden;
  background: url(http://thekitemap.com/images/feedback-img.jpg) no-repeat;
  background-size: cover;
  background-position: bottom center;
}

#form-div {
  max-width: 600px;
  margin: 30px auto;
  background-color:rgba(72,72,72,0.4);
  height: 300px;
}