#motorhomes-top {
  margin-top: 50px;
  background-color: #F5F5F5;
  @include breakpoint($pad) {
    margin-top: 100px;
  }
  @include span(12);
  padding-top: 100%;
  @include breakpoint($pad) {
    padding-top: 56.7%;
  }
  background-image: url('../img/ss6/bg.jpg');
  background-size: cover;
  background-position: center;
}

#ss6-camper {
  position: absolute;

  width: 90%;
  top: 20%;
  left: 10%;
  @include breakpoint($pad) {
    width: 500px;
    top: 25%;
    left: 50%;
    margin-left: -250px;  
  }
  @include breakpoint(1024px) {
    width: 500px;
    top: 35%;
    left: 50%;
    margin-left: -250px;  
  }
    @include breakpoint(1400px) {
    width: 500px;
    top: 50%;
    left: 50%;
    margin-left: -250px;  
  }

  img {
    width: 100%;
  }
}

.fake {
  height: 0;
  &.fixed {
    height: 127px;
    @include breakpoint($pad) {
      height: 127px;
    }
  }
}

nav.motorhomes-nav {
  &.fixed {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    li {
      > a {
        padding: 20px 0;
      }
      display: none;
      @include breakpoint($pad) {
        display: block
      }
      &.active {
        display: block;
      }
    }
  }
  @include span(12);
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    text-align: center;
    position: relative;
    @include span(12);
    &:nth-child(n+2) {
      display: none;
    }
    @include breakpoint($pad) {
      &:nth-child(n+2) {
        display: block;
      }
      @include span(3);
      &:before {
        content: "";
        width: 14px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -14px;
        background-image: url("../img/ss6/hr.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    &:last-child {
      @include breakpoint($pad) {
        @include span(3 last);
        &:before {
          width: 0;
        }       
      }
    }
    > a {
      display: inline-block;
      padding: 30px 0;
      width: 100%;
      text-decoration: none;
      .l-text {
        font-size: 30px;
      }
      .s-text {
        font-size: 18px;
      }
      &:hover {
        background-color: #fff;
      }
    }
  }
  background-color: #fff;
}

body {
  position: relative;
}

#looking, #equipment, #camper-color {
  @include span(12);
  background-color: #ccc;
}

#looking {
  .bg-container {
    min-height: 1000px;
    @include breakpoint($pad) {
      min-height: 800px;
    }
    background-image: url('../img/ss6/looking-bg.jpg');
    background-size: cover;
    background-position: center;
  }
  position: relative;
  #looking-camper {
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    img {
      width: 100%;
    }
    display: block;
    @include breakpoint($pad) {
      display: none;
    }
  }
  #looking-camper-mini {
    position: absolute;
    bottom: 5%;
    right: 5%;
    margin-left: -300px;
    width: 830px;
    img {
      width: 100%;
    }
    display: none;
    @include breakpoint($pad) {
      display: block;
    }
  }
  #smart-control {
    position: absolute;
    top: 80px;
    right: 50%;
    margin-right: -200px;
    @include breakpoint($pad) {
      top: 80px;
      right: 80px; 
      margin-right: 0px;
    }

    img {
      width: 400px;
    }
  }
  #smart-control-phone {
    display: none;
    @include breakpoint($pad) {
      display: block;
    }
    position: absolute;
    width: 400px;
    bottom: 0;
    left: 0;
    img {
      width: 100%;
    }
  }
  #looking-solgan {
    padding: 10px 25px;
    background-color: rgba(255,255,255,0.3);
    position: absolute;
    width: 90%;
    top: 40%;
    left: 5%;
    h2 {
      font-size: 18px;
    }
    h3 {
      font-size: 12px;
    }
    @include breakpoint($pad) {
      padding: 20px 50px;
      top: 0;
      left: 50px;
      h2 {
      font-size: 24px;
      }
      h3 {
        font-size: 18px;
      }
    }
    
  }
}


.title-wrapper {
  padding: 10px;
  color: #f1f1f1;
  background-color: rgba(0,0,0,0.5);
  font-size: 20px;
  clear: both;
}

#camper-color {
  position: relative;

  .bg-container {
    position: relative;
    min-height: 600px;
    margin-right: 0;
    @include breakpoint($pad) {
      min-height: 700px;
      margin-right: 320px;
    }
    background-image: url('../img/ss6/color-bg.jpg');
    background-size: cover;
    background-position: center;
  }
  .color-container {
    position: absolute;
    width: 300px;
    top: 40%;
    left: 50%;
    margin-left: -150px;
    @include breakpoint($pad) {
      width: 400px;
      margin-left: -200px;     
    }

    img {
      width: 100%;
    }
  }
  .size-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-right: 0;
    @include breakpoint($pad) {
      margin-right: 320px; 
    }
    ul {
      padding: 0;
      margin: 0;
      text-align: center;
    }
    li {
      list-style: none;
      padding: 10px 10px;
      display: block;
      @include breakpoint($pad) {
        display: inline-block;
      }
      position: relative;
      &:last-child {
        &:before {
          width: 0;
        }
      }
      &:before {
        content: "";
        width: 2px;
        height: 50%;
        position: absolute;
        top: 10px;
        right: -5px;
        background-color: #000;
      }
    }
    background-color: rgba(255,255,255,0.7);
  }
  .sidebar {
    position: static;
    @include span(12);
    background-color: #fff;
    @include breakpoint($pad) {
      position: absolute;
      width: 320px;
      top: 0;
      right: 0;
      height: 100%;
    }
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      padding: 20px;
      list-style: none;
      position: relative;
      &:before {
        content: "";
        width: 250px;
        height: 25px;
        background-image: url('../img/ss6/color/hr.png');
        background-size: cover;
        position: absolute;
        bottom: -13px;
        left: 50%;
        margin-left: -125px;
      }
      &:last-child {
        &:before {
          height: 0;
        }
      }
    }
    h2 {
      margin: 0;
      font-size: 24px;
    }
    h3 {
      margin: 5px 0;
      font-size: 12px;
    }
    .paint-wrap {
      overflow: hidden;
      .paint {
        display: inline-block;
        float: left;
        width: 55px;
        height: 55px;
        padding: 3px;
        opacity: 1;
        @include transition(0.3s);
        img {
          width: 100%;
        }
        &:hover {
          opacity: 0.6;
        }
      }
    }
    .coating-wrap {
      overflow: hidden;
      .coating {
        display: inline-block;
        float: left;
        width: 70px;
        height: 70px;
        padding: 3px;
        opacity: 1;
        @include transition(0.3s);
        img {
          width: 100%;
        }
        &:hover {
          opacity: 0.6;
        }
      }
    }
    .stylish-wrap {
      overflow: hidden;
      .stylish {
        display: inline-block;
        float: left;
        width: 140px;
        padding: 15px 15px 6px 6px;
        opacity: 1;
        @include transition(0.3s);
        img {
          width: 100%;
        }
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

#safety {
  .bg-container {
    background-image: url('../img/ss6/safety/bg-safety.jpg');
    background-size: cover;
    padding-top: 70%;
    @include breakpoint($pad) {
      padding-top: 58%;
    }
    position: relative;
    #safety-logo {
      position: absolute;
      top: 20px;
      left: 50%;
      width: 80px;
      margin-left: -40px;
      @include breakpoint($pad) {
        width: 120px;
        margin-left: -60px;    
      }

      img {
        width: 100%;
      }
    }
    #safety-camper {
      position: absolute;
      width: 70%;
      top: 90px;
      @include breakpoint($pad) {
        top: 150px;
      }
      left: 15%;
      img {
        width: 100%;
      }
    }
  }
}

#equipment {
  .bg-container {
    height: 350px;
    background-color: #ccc;
    background-image: url('../img/ss6/equipment/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .menu {
    overflow: hidden;
    ul, li {
      margin: 0;
      padding: 0;
    }
    li {
      width: 100%;
      float: left;
      list-style: none;
      position: relative;
      @include breakpoint($pad) {
        width: 50%;
        height: 234px;
        &:before {
          content: "";
          width: 2px;
          height: 80%;
          position: absolute;
          top: 10%;
          right: -1px;
          z-index: 1;
          background-color: #B1E3EA;
        }
        &:last-child {
          &:before {
            background-color: transparent;
          }
        }
      }
    }
    li > a {
      background-color: #39AFC2;
      display: block;
      text-align: center;
      color: #f1f1f1;
      padding: 20px 0;
      text-decoration: none;
      height: 100%;
      img.camper {
        width: 100px;
        margin-top: 10px;
        display: none;
      }
      img.tv {
        width: 50px;
        margin-top: 10px;
        display: none;
      }
      @include breakpoint($pad) {
        img.camper {
          width: 240px;
          margin-top: 10px;
          display: inline-block;
        }
        img.tv {
          width: 100px;
          margin-top: 10px;
          display: inline-block;
        }
      }
      &:hover, &.active {
        background-color: lighten(#39AFC2, 10%);
      }
    }
    .l-text {
      font-size: 28px;
    }
    .s-text {
      font-size: 14px;
    }
  }
  .equipment-wrapper {
    display: none;
    &.active {
      display: block;
    }
    img {
      width: 100%;
    }
  }
}

#safety, #question {
  @include span(12);
  background-color: #333;
}

