#motorhomes-top {
  margin-top: 50px;
  background-color: #F5F5F5;
  @include breakpoint($pad) {
    margin-top: 120px;
  }
  @include span(12);
  padding-top: 100%;
  @include breakpoint($pad) {
    padding-top: 56.7%;
  }
  background-image: url('../img/ss6/bg.jpg');
  background-size: cover;
  background-position: center;
}

#ss6-camper {
  position: absolute;

  width: 90%;
  top: 20%;
  left: 10%;
  @include breakpoint($pad) {
    width: 500px;
    top: 25%;
    left: 50%;
    margin-left: -250px;  
  }
  @include breakpoint(1024px) {
    width: 500px;
    top: 35%;
    left: 50%;
    margin-left: -250px;  
  }
    @include breakpoint(1400px) {
    width: 500px;
    top: 50%;
    left: 50%;
    margin-left: -250px;  
  }

  img {
    width: 100%;
  }
}

nav.motorhomes-nav {
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    li {
      > a {
        padding: 20px 0;
      }
      display: none;
      @include breakpoint($pad) {
        display: block
      }
      &.active {
        display: block;
      }
    }
  }
  @include span(12);
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    text-align: center;
    position: relative;
    @include span(12);
    &:nth-child(n+2) {
      display: none;
    }
    @include breakpoint($pad) {
      &:nth-child(n+2) {
        display: block;
      }
      @include span(3);
      &:before {
        content: "";
        width: 14px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -14px;
        background-image: url("../img/ss6/hr.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    &:last-child {
      @include breakpoint($pad) {
        @include span(3 last);
        &:before {
          width: 0;
        }       
      }
    }
    > a {
      display: inline-block;
      padding: 30px 0;
      width: 100%;
      text-decoration: none;
      .l-text {
        font-size: 30px;
      }
      .s-text {
        font-size: 18px;
      }
      &:hover {
        background-color: #fff;
      }
    }
  }
  background-color: #fff;
}

body {
  position: relative;
}

#looking, #equipment {
  @include span(12);
  height: 800px;
  background-color: #ccc;
}


#safety, #question {
  @include span(12);
  height: 800px;
  background-color: #333;
}